<main role="main" class="inner cover text-center">
        <h1 class="cover-heading mt-5">About Us</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id ultrices tellus. Sed pretium sit amet nibh in semper. Pellentesque et euismod nibh, quis imperdiet tortor. Etiam ac condimentum enim. Proin sed mi quis lacus posuere scelerisque eu vitae nisi. Phasellus sit amet mauris quis metus vehicula accumsan. Integer tristique ullamcorper sem quis maximus. Quisque ac ex vitae turpis placerat rhoncus. Nullam blandit vehicula lectus quis placerat.</p>
        <p class="lead">
          <a href="/" class="btn btn-lg btn-secondary">Home</a>
        </p>
      </main>